---
import Cart from "../../components/Cart";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Cart">
    <main>
        <Cart client:only />
    </main>
</Layout>

<style >
    main {
        margin-top: 4em;
    }
</style>