---
import Layout from "../layouts/Layout.astro";
import { products } from "./products";
---

<Layout title="Store">
    <main>
        <div class="product-container">
            {
                products.map(({ name, images }) => (
                    <div class="product">
                        <p>{name}</p>

                        <img width="150" src={images[0]} alt={name} />
                        <button>Add to cart</button>
                    </div>
                ))
            }
        </div>
    </main>
</Layout>

<style lang="scss" scoped>
    main {
        height: 100%;
        padding-top: 4em;

        height: 100%;
        display: grid;
        // place-items: center;
    }
    .product-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .product {
            button {
                display: block;
                margin: 0 0 0 auto;

                border: none;
                border-radius: 8px;

                font-weight: 600;

                padding: 0.6em;

                background-color: var(--foreground-0);
                color: var(--primary-0);

                transition: all 240ms linear;

                &:hover {
                    cursor: pointer;
                    background-color: var(--foreground-2);
                }
            }
        }
    }
</style>

<script>
    import { cart } from "../js/cart";
    import type { Product } from "./products";

    function addToCart(id: Product["id"]) {
        cart.addProduct(id);
    }
</script>
